asgiref==3.8.1
async-timeout==4.0.3
azure-core==1.31.0
azure-storage-blob==12.23.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
crispy-bootstrap5==2024.10
cryptography==43.0.1
Django==5.1.1
django-allauth==65.0.2
django-crispy-forms==2.3
django-guid==3.5.0
django-rq==3.0.0
django-storages==1.14.4
django-vite==3.0.5
django-ratelimit==4.1.0
django-waffle==4.2.0
djangorestframework-api-key==3.1.0
django-anymail==13.0
sendgrid==6.12.4
idna==3.10
isodate==0.6.1
jsonschema==4.23.0
psycopg2-binary==2.9.9
pycparser==2.22
python-dotenv==1.0.1
redis==5.1.0
requests==2.32.3
rq==2.1.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
whitenoise==6.7.0
djangorestframework==3.15.2
pillow==10.4.0
django-azure-communication-email==1.2.1
sentry-sdk==2.27.0
stripe==12.1.0
sorl-thumbnail==12.11.0
django-silk[formatting]==5.4.1
